.modal.popup-alert-confirm(id="{{modal.id}}" tabindex='-1',
role='dialog',
aria-labelledby='exampleModalLabel',
aria-hidden='true'
data-backdrop="static"
data-keyboard="false"
)
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h5.modal-title.text-center.bold {{modal.title || "Confirm"}}
				//button.close.pull-right(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body.text-center(ng-if='modal.message')
				p(ng-if='modal.message') {{modal.message}}
			.modal-footer
				.text-center
					button.btn.btn-default(type='button', data-dismiss='modal' ng-click='cancelAction()')
						| {{modal.textBtnCancel || 'Close'}}
					button.btn.btn-primary(type='button' ng-click='saveAction()' ng-if='saveAction')
						| {{modal.textBtnSave   || 'Confirm'}}

