.container.home-block-content(ng-if='category ')
	.col-md-12.home-menu-category(style='margin: 0 -15px; margin-top: 50px;')
		ul.list-inline.list-category-home
			li.list-inline-item(ng-repeat='groupIdo in listCategory')
				.text-center.home-menu-item(
				ui-sref='base.category({id:groupIdo.id})'
				ng-class='{"allow-border" : !$last }')
					img.image(src='{{groupIdo.backgroundNormal}}')
					span.name.margin-left-10 {{groupIdo.title}}

	.group-title.col-md-12.category-title
		.pull-left
			a.link-category(ui-sref='base.category({id:category.id})' )
				img.image(src='{{category.backgroundNormal}}')
				span.name  {{category.title}}
	.group-content
		.row
			.col-md-12(
			ng-if='!category.Rooms || category.Rooms.length <=0 ' style='margin: 20px; 0')
				span.text-danger Đang cập nhật ...

			.col-md-2(ng-repeat='room in category.Rooms '
			ng-if=' category.Rooms && category.Rooms.length > 0 ' style='margin: 20px 0;'
			)
				.item
					a(ui-sref='base.room-detail({id : room.id})')
						img.item-image(src='{{room.banner || room.background || room.User.avatar || "http://via.placeholder.com/185x185" }}')
					.item-group.row
						.item-title.col-md-8
							a(ui-sref='base.room-detail({id : room.id})')
								p.title {{room.title}}
							i.fa.fa-eye
							span.value {{room.views}} &nbsp;&nbsp;
							i.fa.fa-heart
							span.value {{room.hearts}}
						.item-favorite.col-md-3.pointer(ng-if='room.isFollow == false'
						ng-click='categoryClickFollowIdol(room, $index)')
							i.fa.fa-plus-circle