<!--internet banking-->
<div class="content-box" id="internet_Banking">
  <div class="step-block-bank">
    <ul class="step1">
      <li class="li_1">
        <a href="#stepA">
          <div class="image_step"></div>
          <span class="text_step">Chọn gói Ucoin</span>
        </a>
      </li>
      <li class="li_2">
        <a href="#stepB">
          <div class="image_step"></div>
          <span class="text_step">Chọn ngân hàng</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="step-content-block-bank">
    <div class="content" id="stepA">
      <% if( megabanks && megabanks.length > 0){ %>
      <% megabanks.forEach(function(megabank,key){ %>
      <div class="box-sms">
        <a href="#" class="box-wrapper" package-id="<%= megabank.id %>"  package-code="<%= megabank.code %>">
          <span class="box-coin" data-unit=""><%= megabank.coin %> Ucoin</span>
          <span class="box-cash" data-unit=""><%= megabank.price %><sup>vnđ</sup></span>
        </a>
      </div>
      <% }) %>
      <% } %>
    </div>

    <div class="content" id="stepB">
      <div class="form-block">
        <div class="select-arrow-down">
          <select name="bank" class="internet-bank-select" id="internet-bank-select">
            <% if( banks && banks.length > 0){ %>
            <% banks.forEach(function(bank,key){ %>
            <option bank-id="<%= bank.id %>" source-id="<%= bank.id %>" bank-code="<%= bank.code %>" ><%= bank.name %></option>
            <% }) %>
            <% } %>
          </select>
          <i class="fa fa-caret-down"></i>
        </div>
        <div class="form-group captcha-group">
          <div id="captcha-payment"></div>
        </div>
        <button type="button" class="btn btn-primary" id="btn-PaymentMegabank-bank">
          Thanh toán
        </button>
      </div>
    </div>
  </div>
</div>
<!--end internet banking-->