<h1 style="display: none;"><%= ( (token != undefined && token) ? token : '') %></h1>

<div id="payment" class="main">
  <div class="heading">
    <% if(!user || typeof (user) == 'undefined' ){ %>
    <h3 class="alert alert-danger not-login">Vui lòng đăng nhập để thực hiện chức năng này!</h3>
    <% } else { %>
    <img id="wallet_web" class="wallet_web" src="/assets/paymentforapp/images/payment_2/wallet_web.png" alt="wallet_web" />
    <div class="user-coin-2" data-unit="ucoin"><span><%= ( (user != undefined && user) ? user.money : 0) %></span><sup>ucoin</sup></div>
    <div class="user-name"><%= (user != undefined ? user.name : '') %></div>
    <div class="note-trade">(1 Ucoin = 100<sup>vnđ</sup>)</div>
    <div class="payment-guide">
      <a href="/paymentforapp/huong-dan" class="btn btn-primary btn-tutorial" role="button">Hướng dẫn</a>
    </div>
    <% } %>
  </div>

  <% if(!user || typeof (user) == 'undefined' ){ %>
  <% } else { %>
  <div class="select-payment-method">Chọn phương thức nạp Ucoin</div>
  <% } %>

  <% if (typeof user != 'undefined' && user != undefined && user){ %>
  <div class="nav-link-method">
    <a div-target="#sms" class="item nav-method-select" href="javascript:void(0);">
      <img class="image" src="/assets/paymentforapp/images/payment_2/napxu_sms.png" />
      <div class="name">SMS <br> &nbsp;</div>
    </a>
    <a div-target="#mobile_Card" class="item nav-method-select" href="javascript:void(0);">
      <img class="image" src="/assets/paymentforapp/images/payment_2/napxu_thecao.png" />
      <div class="name"> Thẻ cào <br>điện thoại</div>
    </a>
    <a div-target="#internet_Banking" class="item nav-method-select" href="javascript:void(0);">
      <img class="image" src="/assets/paymentforapp/images/payment_2/napxu_internet.png" />
      <div class="name"> Internet <br>Banking</div>
    </a>
    <a div-target="#redeem_Code" class="item nav-method-select" href="javascript:void(0);">
      <img class="image" src="/assets/paymentforapp/images/payment_2/redeem_code.png" />
      <div class="name"> Redeem Code</div>
    </a>
    <a class="back nav-method-back" href="javascript:void(0);">
      <img src="/assets/paymentforapp/images/payment_2/back_button.png" />
    </a>
  </div>
  <% } %>

  <% if (typeof user != 'undefined' && user != undefined && user){ %>
  <div class="payment-content">
    <!--SMS payment -->
    <%- include _include_sms_payment.ejs %>
    <!--Thẻ cào điện thoại -->
    <%- include _include_telco_card.ejs %>
    <!--internet banking-->
    <%- include _include_internet_banking.ejs %>
  </div>
  <% } %>

  <div class="support-info-block">
    <div>Hệ thống thanh toán được bảo trợ bởi <a href="http://vnptepay.com.vn/">VNPT EPAY (<i>http://vnptepay.com.vn/</i>)</a></div>
    <div>Trong trường hợp xảy ra lỗi, bạn vui lòng liên hệ nhân viên CSKH bằng hệ thống chat ở cuối trang.</div>
  </div>

</div>


<%- contentFor('appcss') %>
<%- contentFor('appjs') %>

<script type="text/javascript">

  var showModalMobifone = function (code,name,money,coin,callback) {
    $('#modal_livestar_btn_no').hide();
    $('#modal_livestar_btn_yes').html('Đóng');
    var message = '<span>Gói Vip dành cho thuê bao<br/>Mobifone</span>';
    $('#modal_Livestar').find('h3').html(message);

    var sms = '<span class="color-xam">Cú pháp:</span>';
    sms += '<strong class="color-primary">XU' + coin + '</strong> ' +
      '<span class="color-xam">gửi đến</span>' +
      '<strong class="color-primary">9387</strong>';
    sms += '<br/><br/> Để nhận ' + coin + 'Ucoin với giá ' + money + 'đ';
    sms += '<span class="color-xam">Vui lòng tải lại trang khi nhận thông báo thành công</span>';
    $('#modal_Livestar').find('p').html(sms);
    if (callback !== undefined) {
      $('#modal_livestar_btn_yes').one("click",callback);
    }
    $('#modal_Livestar').modal('show');
  };

  var showModalSms = function (code,name,money,coin,isViettel,callback) {
    $('#modal_livestar_btn_no').hide();
    $('#modal_livestar_btn_yes').html('Đóng');
    var message = '<span>Gói cước dành cho thuê bao<br/>';
    if (isViettel == true)
      message += 'Viettel</span>';
    else
      message += (typeof user == 'undefined' || (typeof user != 'undefined' && !user.is_mbf)) ? 'Mobifone và Vinaphone ' : 'Vinaphone</span>';
    $('#modal_Livestar').find('h3').html(message);
    var sms = '<span class="color-xam">Cú pháp</span>';
    sms += '<strong class="color-primary">MW LIVESTAR NAP' + money + ' ' + code + '</strong> ' +
      '<span class="color-xam">gửi đến</span>' +
      '<strong class="color-primary">9029</strong>';
    sms += '<span class="color-xam">Vui lòng tải lại trang khi nhận thông báo thành công</span>';
    $('#modal_Livestar').find('p').html(sms);
    if (callback !== undefined) {
      $('#modal_livestar_btn_yes').one("click",callback);
    }
    $('#modal_Livestar').modal('show');
  };

  $('#payment .nav-link-method .nav-method-select').on('click',function (event) {
    var div_tager = $(this).attr('div-target');
    $('#payment .nav-link-method .item').hide();
    $('#wallet_web').hide();
    $('.user-coin-2').hide();
    $('.select-payment-method').hide();

    $(this).show();
    $('#payment .nav-link-method .nav-method-back').show();
    $(div_tager).show();
  });

  $('#payment .nav-link-method .nav-method-back').on('click',function (event) {
    $(this).hide();
    $('#payment .nav-link-method .nav-method-select').show();
    $('#wallet_web').show();
    $('.user-coin-2').show();
    $('.select-payment-method').show();
    $('#sms').hide();
    $('#mobile_Card').hide();
    $('#internet_Banking').hide();
  });

  $('#mbp-vnp').on('click','.box-sms',function (event) {
    $('#payment .box-sms').removeClass('active');
    $(this).addClass('active');
    event.preventDefault();
    var price = parseInt($(this).attr("data-price").replace(/\./gi,""));
    var coin = $(this).attr("data-coin");
    var name = $(this).attr("data-name");
    var code = $('#sms').attr("data-code");
    showModalSms(code,name,price / 1000,coin,false,function () {
    });
  });

  $('#vt').on('click','.box-sms',function (event) {
    $('#payment .box-sms').removeClass('active');
    $(this).addClass('active');
    event.preventDefault();
    var price = parseInt($(this).attr("data-price").replace(/\./gi,""));
    var coin = $(this).attr("data-coin");
    var name = $(this).attr("data-name");
    var code = $('#sms').attr("data-code");
    showModalSms(code,name,price,coin,true,function () {
    });
  });

  $('#mbp').on('click','.box-sms',function (event) {
    $('#payment .box-sms').removeClass('active');
    $(this).addClass('active');
    event.preventDefault();
    var price = $(this).attr("data-price");
    var coin = $(this).attr("data-coin");
    var name = $(this).attr("data-name");
    var code = $('#sms').attr("data-code");
    showModalMobifone(code,name,price,coin,function () {
    });
  });

  $(document).ready(function () {
    console.info('payment ready');
  });

</script>




<!--mobile_Card-->
<script>
  //the cao dien thoai
  function mobileCardSelectProvider(ob)
  {
    var select_provider = $(ob).attr('data-code');
    var select_source_id = $(ob).attr('data-source-id');
    $('#mobile_Card .provider').removeClass('active');
    $(ob).addClass('active');
    $('#mobile_Provider').attr('value',select_provider);
    $('#mobile_Provider').attr('source-id', select_source_id);
    console.log('select_provider=',select_provider);
    console.log('select_source_id=',select_source_id);
  }

  $('#btn-payment-by-card-for-app').on('click',function (event) {
    event.preventDefault();
    $('#modal_Livestar').find('h3').html('<span>Thông báo</span>');
    var btn_Card = $('#btn-payment-by-card-for-app');
    if (!token || typeof (token) === 'undefined' || token == '')
      return PModal.modalAlert("Vui lòng đăng nhập !",function () {
        btn_Card.removeClass('loading');
        $('.btn-signin').trigger("click");
      });
    var provider = $('#mobile_Provider').attr('value');
    var sourceId =  $('#mobile_Provider').attr('source-id');
    var pin = $('#mobile_Code').val();
    var serial = $('#mobile_Serial').val();
    var key_payment = '';
    try { key_payment = grecaptcha.getResponse(widgetCard); } catch (e) {console.error(e);}
    if (!key_payment || !provider || !pin || !serial)
      return PModal.modalAlert("Vui lòng điền đầy đủ thông tin !!!",function () { btn_Card.removeClass('loading'); });
    if (key_payment !== '' && provider !== '' && pin !== '' && serial !== '')
    {
      var data = {
        card_serviceProvider : provider,
        card_pin : pin,
        card_serial : serial,
        sourceId : sourceId,
        packageId : 'packageId_charge_by_telco',
        key_payment:key_payment};
      console.log('API_PATH=', API_PATH + 'payment/card');
      console.log('data Post=',data);
      $.ajax({
        url : API_PATH + 'payment/card',
        method:"POST",headers:{'Authorization' : token},
        dataType:'json',
        data:data,
        beforeSend:function () { btn_Card.addClass('loading'); },
        statusCode:{
          200:function (data) {
            console.log(data);
            btn_Card.removeClass('loading');
            if(data && data.error)
            {
              PModal.modalAlert(data.message,function () { window.location.reload(); });
              return;
            }
            var msg = (data.responseJSON ? data.responseJSON.message : data.message) || 'Nạp tiền thành công.';
            PModal.modalAlert(msg,function () { window.location.reload(); });
          },
          400:function (data) {
            btn_Card.removeClass('loading');
            reRenderCaptcha();
            console.log(data);
            var msg = (data.responseJSON ? data.responseJSON.message : '') || "Thẻ cào bị lỗi, vui lòng thử lại sau";
            PModal.modalAlert(msg,function () { });
          },
          401:function (data) {
            btn_Card.removeClass('loading');
            reRenderCaptcha();
            console.log(data);
            var msg = (data.responseJSON ? data.responseJSON.message : '') || "Thẻ cào bị lỗi, vui lòng thử lại sau";
            PModal.modalAlert(msg,function () { });
          },
          403:function (data) {
            console.log(data);
            reRenderCaptcha();
            var msg = (data.responseJSON ? data.responseJSON.message : '') || "Thẻ cào bị lỗi, vui lòng thử lại sau";
            PModal.modalAlert(msg,function () { btn_Card.removeClass('loading'); });
          },
          500:function (data) {
            console.log(data);
            btn_Card.removeClass('loading');
            reRenderCaptcha();
            var msg = (data.responseJSON ? data.responseJSON.message : '') || "Thẻ cào bị lỗi, vui lòng thử lại sau";
            PModal.modalAlert(msg,function () {});
          },
          504:function (data) {
            console.log(data);
            btn_Card.removeClass('loading');
            reRenderCaptcha();
            var msg = (data.responseJSON ? data.responseJSON.message : data.responseText ) || "Thẻ cào bị lỗi, vui lòng thử lại sau";
            PModal.modalAlert(msg,function () {});
          }
        }
      }).done(function (data) {
        console.log('done(function (data) = ',data);
        btn_Card.removeClass('loading');
      });
    } else {
      PModal.modalAlert("Vui lòng điền đầy đủ thông tin !!!",function () { btn_Card.removeClass('loading'); });
    }
  });
</script>











<!--internet_Banking-->
<script>
  $('#payment #internet_Banking .step-block-bank a').on('click',function (event) {
    var div_target = $(this).attr('href');
    $('#stepA').hide();
    $('#stepB').hide();
    if (div_target == '#stepA') {
      $('#internet_Banking .step-block-bank ul').removeClass('step2');
      $('#internet_Banking .step-block-bank ul').addClass('step1');
      $(div_target).show();
    }
    if (div_target == '#stepB') {
      if ($('#stepA .box-sms.active').length <= 0) {
        $('#stepA').show();
      } else {
        $('#internet_Banking .step-block-bank ul').removeClass('step1');
        $('#internet_Banking .step-block-bank ul').addClass('step2');
        $(div_target).show();
      }
    }

  });

  $('#payment #stepA').on('click','.box-sms',function (event) {
    $('#payment #stepA .box-sms').removeClass('active');
    $(this).addClass('active');
    event.preventDefault();
    $('#stepA').hide();
    $('#stepB').show();
    $('#internet_Banking .step-block-bank ul').removeClass('step1');
    $('#internet_Banking .step-block-bank ul').addClass('step2');
  });

  $('#btn-PaymentMegabank-bank').on('click',function (event) {
    var btn_internetBank = $('#btn-PaymentMegabank-bank');
    btn_internetBank.attr("disabled", "disabled").button('refresh');
    btn_internetBank.addClass('loading');
    setTimeout(function () {
      btn_internetBank.removeAttr("disabled").button('refresh');
      btn_internetBank.removeClass('loading');
    },2000);
    event.preventDefault();
    if ((typeof token === 'undefined' || token == '' || !token))
      return $('.btn-signin').trigger("click");
    var key_megabank='';
    try { key_megabank = grecaptcha.getResponse(widgetMegabank); }catch(e){}

    if(!key_megabank) return PModal.modalAlert('Captcha không hợp lệ ',function () { });

    var package_id = $('#internet_Banking #stepA .box-sms.active a.box-wrapper').attr('package-id');
    var callbackUrl = window.location.origin + "/paymentforapp/result";

    var bank_id =   $('#internet-bank-select option:selected').attr('bank-id');
    var bank_code = $('#internet-bank-select option:selected').attr('bank-code');
    var source_id = $('#internet-bank-select option:selected').attr('bank-id');

    console.log('key_megabank=',key_megabank);
    console.log('package_id=',package_id);
    console.log('bank_id=',bank_id);
    console.log('bank_code=',bank_code);
    console.log('callbackUrl=',callbackUrl);
    if( !key_megabank || !package_id || !callbackUrl || !bank_id ) {
      PModal.modalAlert("Vui lòng điền đầy đủ thông tin !!!",function () {
      });
    }

    if (key_megabank !== '' && package_id !== '' && callbackUrl !='' && bank_id !== '' ) {
      var data = {
        packageId : package_id,
        bankId : bank_code,
        sourceId : source_id,
        callbackUrl:callbackUrl,
        key_megabank:key_megabank
      };
      console.log(data);
      console.log(API_PATH + 'payment/bank');
      $.ajax({
        url:API_PATH + 'payment/bank',
        method : "POST",
        headers:{'Authorization': token},
        dataType:'json',
        data:data,
        beforeSend:function () {
          btn_internetBank.attr("disabled", "disabled").button('refresh');
          btn_internetBank.addClass('loading');
        },
        statusCode:{
          200:function (data) {
            console.log('PaymentMegabank.handlePaymentMegabank data=',data);
            console.log('data=',JSON.stringify(data));
            if(data && data.error)
            {
              PModal.modalAlert(data.message,function () { window.location.reload(); });
              return;
            }
            window.location.href = data.url
          },
          400:function (data) {
            var msg = (data.responseJSON ? data.responseJSON.message : '') || "Có lỗi xảy ra, vui lòng thử lại sau";
            btn_internetBank.removeAttr("disabled").button('refresh');
            btn_internetBank.removeClass('loading');
            reRenderCaptcha();
            PModal.modalAlert(msg,function () { });
          },
          500:function (data) {
            var msg = (data.responseJSON ? data.responseJSON.message : '') || "Có lỗi xảy ra, vui lòng thử lại sau";
            btn_internetBank.removeAttr("disabled").button('refresh');
            btn_internetBank.removeClass('loading');
            reRenderCaptcha();
            PModal.modalAlert(msg,function () { });
          },
          504:function (data) {
            var msg = (data.responseJSON ? data.responseJSON.message : '') || "Có lỗi xảy ra, vui lòng thử lại sau";
            btn_internetBank.removeAttr("disabled").button('refresh');
            btn_internetBank.removeClass('loading');
            reRenderCaptcha();
            PModal.modalAlert(msg,function () { });
          }
        }
      }).done(function (data) {
        console.log('done(function (data); charge banking data=',data);
        btn_internetBank.removeAttr("disabled").button('refresh');
        btn_internetBank.removeClass('loading');
      });
    }
  });

</script>