<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="Giải trí, ca hát, nhảy múa, giao lưu, ngôi sao, idol, hot girl, trò chuyện, Hallostar, trực tuyến, live chat, Hari Won" />
  <!--<meta name="google-site-verification" content="h-QYYs7x_vyp8Xrad1n7dVr-ogKxkFds4jHU7q7m8KQ" />-->
  <meta name="google-site-verification" content="RV80MBb3SMqko-cCcIiDv0elsJY_grpssJ2ofbPEmTg" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=vietnamese" rel="stylesheet" />
  <!-- Facebook -->
  <meta property="og:url"   content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="fb:app_id" content="1546370315661210" />
  <meta property="fb:pages" content="1182940155053562" />

  <title>Thanh toán </title>

  <link rel="icon" type="image/png" href="/assets/paymentforapp/images/favicon.png" />
  <link rel="stylesheet" href="/assets/paymentforapp/css/main.css" type="text/css" />

  <script type="text/javascript" src="/assets/paymentforapp/js/jquery-1.12.1.min.js"></script>
  <script type="text/javascript" src="/assets/paymentforapp/js/jquery.blockUI.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=vi"></script>
  <script type="text/javascript">
    // Captcha google
    var widgetCard;
    var widgetMegabank;
    var widgetRedeemCode;
    var onloadCallback = function()
    {
      console.log('load gg captcha ok, render captcha');
      console.log('grecaptcha=', grecaptcha);
      if ( window.location.pathname.indexOf('paymentforapp') != -1)
      {
        var siteKey = '6Lc0MDAUAAAAAE9gOerDRuT3fAAxIpYf0lZWamqr'; // http://dev.livestar.vn:8000/paymentforapp
        if( window.location.host.indexOf('yuptv.vn') != -1 || window.ENV == "production" || window.ENV == "prod" )
          siteKey = '6Le1nDUUAAAAALQuPcLTTU7QkmFd6q2Q2icKp2K4'; //yuptv.vn
        console.log('-------sitekey=', siteKey);
//        widgetCard = grecaptcha.render('captcha-card', {
//          'sitekey' : siteKey,
//          'theme' : 'light'
//        });
//        widgetMegabank = grecaptcha.render('captcha-payment', {
//          'sitekey' : siteKey,
//          'theme' : 'light'
//        });
//        widgetRedeemCode = grecaptcha.render('captcha-redeem-code', {
//          'sitekey' : siteKey,
//          'theme' : 'light'
//        });
      }
    };
  </script>
  <% if(locals.appcss) { %>
  <%- appcss %>
  <% }%>
</head>
<body>

<!--body content-->
<%- body %>

<script type="text/javascript" src="/assets/paymentforapp/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/paymentforapp/js/notify.min.js"></script>
<script type="text/javascript" src="/assets/paymentforapp/js/pmodal.js"></script>
<script type="text/javascript" src='/assets/paymentforapp/js/moment.js'></script>
<script type="text/javascript" src="/assets/paymentforapp/js/user.js"></script>
<script type="text/javascript" src='/assets/paymentforapp/js/payment.js'></script>

<!--Modal-->
<div class="modal fade" id="modal_Livestar" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-wrapper">
        <h3 class="heading">
          <span>Thông báo</span>
        </h3>
        <div class="content">
          <p>Bạn chắc chắn thực hiện hành động này?</p>
        </div>
        <div class="button-group text-center">
          <button type="button" class="btn btn-primary btn-accept" data-dismiss="modal"  id="modal_livestar_btn_yes">Đồng ý</button>
          <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal"  id="modal_livestar_btn_no">Không</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal_Lockscreen" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-wrapper">
        <h3 class="heading">
          <span>Thông báo</span>
        </h3>
        <div class="content">
          <p>Bạn chắc chắn thực hiện hành động này?</p>
        </div>
        <div class="button-group text-center">
          <a href="#" class="btn btn-primary btn-accept" role="button">Đồng ý</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end Modal-->

<script>
  var RecaptchaOptions = { lang  : 'vi'};
  var API_PATH = "<%= configs.api_base_url %>";
  console.log('API_PATH=',API_PATH);
  var token = "<%= (typeof(token) != 'undefined' && token!=undefined && token)  ? token : '' %>";
  var user = '<%- ( (typeof(user) != 'undefined' && user!=undefined)  ? JSON.stringify(user) : '') %>';
  console.log('typeof (token)=',typeof (token));
  console.log('typeof (user)=',typeof (user));
  if( typeof (user) == 'string')
  {
    try{
      user = JSON.parse(user);
      console.log('layout user=',user);
    }catch(e){ user = null; }
  }
</script>



<% if(locals.appjs) { %>
<%- appjs %>
<% }%>

</body>
</html>
