<div id="payment" class="main">
	<div class="main-container container">
		<div class="payment-block">
			<div class="wrapper">
				<div class="title-block">
					<div class="image">
						<img src="/assets/paymentforapp/images/payment/property.png" alt="Propert" />
					</div>
					<h1 class="heading separator">
						<span class="color-primary text">Bạn đã nạp tiền thành công</span>
					</h1>
				</div>
				<div class="payment-result-block">
					<div class="description">
						<% if(typeof (message) == "undefined") { %>
							<% if(confirm && confirm.responsecode != "03" ){%>
							<p>Tài khoản: <span class="user-name color-primary"><%= user.username %></span>  đã nạp <span class="user-coin color-primary" data-unit="ucoin"><%= confirm.price %></span> VND vào tài khoản tương đương với <%= confirm.coin %> ucoin. </p>
							<% } %>
							<p>Tài khoản hiện có: <%= user.money %> ucoin. </p>
							<p>Mã giao dịch: <%= confirm.tranid %> </p>
							<p>Trạng thái: <%= confirm.descriptionvn %> </p>
						<% } else { %>
							<p>Trạng thái: <%= message %> </p>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

