<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="Giải trí, ca hát, nhảy múa, giao lưu, ngôi sao, idol, hot girl, trò chuyện, Hallostar, trực tuyến, live chat, Hari Won" />

  <meta property="og:title" content="<%= (typeof(og_title) != 'undefined' && og_title)  ? og_title : '' %>" />
  <meta property="og:url" content="<%= (typeof(og_url) != 'undefined' && og_url)  ? og_url : '' %>" />
  <meta property="og:description" content="<%= (typeof(og_description) != 'undefined' && og_description)  ? og_description : '' %>" />
  <meta property="og:image" content="<%= (typeof(og_image) != 'undefined' && og_image)  ? og_image : '' %>" />
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="yuptv.vn" />

  <title><%= (typeof(og_title) != 'undefined' && og_title)  ? og_title : '' %></title>
</head>
<body>
<h1> id room = <%= (typeof(id) != 'undefined' && id)  ? id : '' %> </h1>
</body>
</html>
