.nav_top_register_login
	.container
		.col-md-6
			img.image-logo-home(src='/images/logo_new.png' ui-sref='base')
		.col-md-6
			ul.list-inline.text-right.list-link(ng-if='isLogged == false')
				li.list-inline-item
					a(href='' ui-sref='base.register')
						//i.fa.fa-user
						img(src='images/signup.png')
						span             Đăng Kí
				li.list-inline-item
					a(href='' ng-click='openLogin()')
						//i.fa.fa-sign-in
						img(src='images/login.png')
						span             Đăng Nhập
			.div-profile-logged(ng-if='isLogged == true')
				ul.list-inline.text-right.list-link-logged
					//li.list-inline-item(ng-if='isHome == false ')
						i.fa.fa-search
					li.list-inline-item(ui-sref='base.notifycation' style='cursor:pointer;')
						div.bel-unread-notifycation
							i.fa.fa-bell-o
							span(ng-if='notifycationUnread.items && notifycationUnread.items.length > 0')
								|{{notifycationUnread.items.length}}
					li.list-inline-item.group-avatar-logged(
					ng-mouseenter='openProfileMenuDropdown(true)'
					ng-mouseleave='openProfileMenuDropdown(false)'
					)
						img.avatar( src='{{userProfile.avatar ||"http://via.placeholder.com/50x50"}}')
						span.name {{userProfile.name}}
						i.fa(ng-class='{"fa-angle-down" : activeProfileMenu == false, "fa-angle-up" : activeProfileMenu == true}')

				//Profile dropdown
				.profile-menu-dropdown(
					ng-show='activeProfileMenu'
				ng-mouseenter='openProfileMenuDropdown(true)'
				ng-mouseleave='openProfileMenuDropdown(false)'
				)
					ul
						li.level-coin
							.name {{userProfile.name}}
							.group-lvl-coin
								span.lvl Level {{userProfile.Level.level}}
								span.coin {{userProfile.money}} Ucoin
						li(ng-repeat='item in menuProfile')
							a(href='' ui-sref='{{item.href}}' ng-if='item.title') {{item.title}}
						li
							a(ng-click='logout()') Đăng Xuất

.menu_main
	.container
		include _menu_main

		//Search Form
		.col-md-6.search-form-top(ng-if='isHome == true')
			form.pull-right(action='')
				.input-group
					input.form-control.input-search(type='Search', ng-model='searchKey.value'
					ng-model-options='{ debounce: 500 }'
					ng-change='searchChange()'
					placeholder='Nhập tên idol hoặc từ khoá...')
					button.btn.btn-default
						i.fa.fa-search
