.container
	.schedule.wrapper
		.row
			.col-md-6
				h2.head-title LỊCH DIỄN
				//p Cập nhật ngày 10/10/2017
			.col-md-6.text-right
				span.label.black Hiển thị
				//#category
				select.form-control(
				ng-model="categorySelected"
				ng-change="changeCategorySelect()"
				ng-options="item.id as item.title for item in selectCategoryValue")

				select.form-control(ng-model="dateSelected"
				ng-change="changeDateSelect()"
				ng-options="item.id as item.title for item in selectDateValue")

				select.form-control(ng-model="monthSelected"
				ng-change="changeMonthSelect()"
				ng-options="item.id as item.title for item in selectMonthValue")

				//button.btn-search
					i.fa.fa-search
		hr
		include _filter_search

		.row(ng-if="activeView == 'now-tomorrow' ")
			.col-md-6
				h4 {{textNowDate}}
				.row
					.col-md-12
						table.table.table-bordered
							tr
								td(width='50%') Idol diễn
								td(width='50%') Giờ diễn
							tr(ng-if='!roomAtNowDate || roomAtNowDate.length <= 0')
								td(colspan='2') Không có lịch diễn nào
							tr(ng-repeat='item in roomAtNowDate' ng-if='roomAtNowDate.length > 0')
								td(style='border-right: none;')
									.group-image-name
										img.img-responsive(src='{{item.Room.User.avatars_path.avatar || "http://via.placeholder.com/130x130" }}')
										.name
											p.limit-length-140.block(ng-click='openScheduleDetail(item)')
												|{{item.Room.title || item.Room.User.name }}
											i.fa.fa-eye
											span {{item.Room.views | thousandSuffix : 1}}
											i.fa.fa-heart-o
											span {{item.Room.hearts | thousandSuffix : 1}}
								td(style='border-left: none;')
									.group-time-follow
										.time.bold {{item.start | date:'HH:mm' }}
										.follow
											button(ng-if='item.Room.isFollow == false && item.Room.User.id != $rootScope.user.id'
											ng-click='lichdienFollowRoom(item,"follow")') Theo dõi
											button(ng-if='item.Room.isFollow == true && item.Room.User.id != $rootScope.user.id'
											ng-click='lichdienFollowRoom(item,"unfollow")')
												i.fa.fa-check.margin-right-5
												span Đang theo dõi


			.col-md-6
				h4 {{textTomorrowDate}}
				.row
					.col-md-12
						table.table.table-bordered
							tr
								td(width='50%') Idol diễn
								td(width='50%') Giờ diễn
							tr(ng-if='!roomAtTomorrowDate || roomAtTomorrowDate.length <= 0')
								td(colspan='2') Không có lịch diễn nào
							tr(ng-repeat='item in roomAtTomorrowDate' ng-if='roomAtTomorrowDate.length > 0')
								td(style='border-right: none;')
									.group-image-name
										img.img-responsive(src='{{item.Room.User.avatars_path.avatar || "http://via.placeholder.com/130x130" }}')
										.name
											p.limit-length-140.block(ng-click='openScheduleDetail(item)')
												|{{item.Room.title || item.Room.User.name }}
											i.fa.fa-eye
											span {{item.Room.views | thousandSuffix : 1}}
											i.fa.fa-heart-o
											span {{item.Room.hearts | thousandSuffix : 1}}
								td(style='border-left: none;')
									.group-time-follow
										.time.bold {{item.start | date:'HH:mm' }}
										.follow
											button(ng-if='item.Room.isFollow==false && item.Room.User.id != $rootScope.user.id'
											ng-click='lichdienFollowRoom(item,"follow")') Theo dõi
											button(ng-if='item.Room.isFollow==true && item.Room.User.id != $rootScope.user.id'
											ng-click='lichdienFollowRoom(item,"unfollow")')
												i.fa.fa-check.margin-right-5
												span Đang theo dõi


		//Lịch phát sóng Idol của bạn
		.list-room-schedule-following(ng-if='user && listUserFollowing && listUserFollowing.length > 0')
			.row
				.col-md-12
					hr
				.col-md-12
					h3 Lịch phát sóng Idol của bạn ({{listUserFollowing.length}})
					br
					br
				.col-md-12
					bxslider(items='listUserFollowing' on-item-click='onItemClick')
