.on-air-page(ng-if='items && categorys')
	.clearfix
	home-slider
	.clearfix

	div
		.row
			.col-md-12
				.home-menu-category
					.container
						.row
							.col-md-12(style='padding-left: 0;')
								ul.list-inline.list-category-home
									li.list-inline-item(ng-repeat='category in categorys')
										//ui-sref='base.category({id : category.id})'
										.text-center.home-menu-item(
										ng-class='{ "active" : categorySelected.id == category.id }'
										ng-click='selectCategory(category, $index)'
										)
											img.image(src='{{category.backgroundNormal}}')
											span.name.margin-left-10 {{category.title | uppercase }}

	.clearfix
	.container
		.row.margin-top-50.margin-bottom-30
			.col-md-12
				.pull-left
					.header
						img(src='/images/onair_title.png' style='width: 20px;height: auto;margin: 0 5px;')
						span.title-header KÊNH ON AIR
				//.pull-right
					ul.list-inline.on-air-menu-category
						li.list-inline-item(
						ng-repeat='category in categorys'
						ng-class='{"active" : categorySelected.id == category.id }'
						ng-click='selectCategory(category, $index)')
							a(href='')
								| {{category.title}}
							span(ng-if=' !$last ') &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;

		.row(ng-if='!items || items.length <=0 ')
			.col-md-12
				p.text-danger Không có room nào
		.row(ng-if='items && items.length > 0 ')
			.col-md-4
				.on-air-block-main(ng-if='items && items[0] && items[0].onAir == true ' )
					img.on-air-block-main-image(
					src='{{ items[0].banner || items[0].background || items[0].User.avatar || "http://via.placeholder.com/185x185" }}'
					ui-sref='base.room-detail({id : items[0].id})')
					.bottom
						p.title {{ items[0].title || items[0].User.name }}
						i.fa.fa-eye
						span {{items[0].views}}
						i.fa.fa-heart
						span {{items[0].hearts}}
						button.btn.add-plus(ng-if='items[0].isFollow == false'
						ng-click='onairClickFollowIdol(items[0], 0, "follow")')
							i.fa.fa-plus
						button.btn.add-plus.unfollow(ng-if='items[0].isFollow == true'
						ng-click='onairClickFollowIdol(items[0], 0, "unfollow")')
							i.fa.fa-minus
					.on-air-icon
						.icon &nbsp;
						span LIVE
			.col-md-8
				.row
					.col-md-3(ng-repeat='ite in items' ng-if='$index > 0 && $index < 9 && ite.onAir == true '
					style='padding: 5px;')
						.on-air-block-main.on-air-block
							img.main--image-room-on-air(
							src='{{ ite.banner || ite.background || ite.User.avatar || "http://via.placeholder.com/185x185"  }}'
							ui-sref='base.room-detail({id : ite.id})')
							.bottom
								p.title {{ite.title || ite.User.name }}
								i.fa.fa-eye
								span {{ite.views}}
								i.fa.fa-heart
								span {{ite.hearts}}
								button.btn.add-plus(ng-if='ite.isFollow == false'
								ng-click='onairClickFollowIdol(ite, $index, "follow")')
									i.fa.fa-plus
								button.btn.add-plus.unfollow(ng-if='ite.isFollow == true'
								ng-click='onairClickFollowIdol(ite, $index, "unfollow")')
									i.fa.fa-minus
							.on-air-icon
								.icon &nbsp;
								span LIVE

		.row(ng-if='items.length > 8 ' style='margin: 30px 0;')
			.col-md-2(style='padding:5px; margin: 20px 0;' ng-repeat='ite in items' ng-if='$index > 8 && ite.onAir == true')
				.on-air-block-more
					img(src='{{ite.banner || ite.background || ite.User.avatar}}'
					ui-sref='base.room-detail({id : ite.id})')
					.bottom
						p.title {{ ite.title || ite.User.name }}
						i.fa.fa-eye
						span {{ite.views}}
						i.fa.fa-heart
						span {{ite.hearts}}
						button.btn.add-plus(ng-if='ite.isFollow == false'
						ng-click='onairClickFollowIdol(ite, $index, "follow")')
							i.fa.fa-plus
						button.btn.add-plus.unfollow(ng-if='ite.isFollow == true'
						ng-click='onairClickFollowIdol(ite, $index, "unfollow")')
							i.fa.fa-minus
					.on-air-icon
						.icon &nbsp;
						span LIVE

