.home-slider(ng-if='slides && slides.length > 0')
	ui-carousel(slides='slides',
	slides-to-show='1',
	slides-to-scroll='1',
	initial-slide='1',
	autoplay='true',
	autoplay-speed='4000',
	dots='true')
		carousel-item
			img.img-responsive(src='{{ item.images_path.w1440h445 || item.images_path.w1080h622 }}', alt='{{ item.caption }}')
			.caption-group
				.caption
					a(href='{{item.url}}') {{item.caption}}
				.description
					a(href='{{item.url}}')  {{item.description}}
		carousel-prev
			button
				i.fa.fa-angle-left
		carousel-next
			button
				i.fa.fa-angle-right
	.download-link(ng-if='loadedBanner ==true ')
		.row
			.col-md-6.ios.text-right
				a(href="https://itunes.apple.com/vn/app/yup/id1294969432?mt=8" target='_blank')
					i.fa.fa-apple
					span.text-download &nbsp; Tải IOS App
			.col-md-6.android.text-left
				a(href="https://play.google.com/store/apps/details?id=yup.livestream.hotgirl" target='_blank')
					i.fa.fa-android
					span.text-download  &nbsp; Tải Android App