.modal.fade(role='dialog' id='{{modal.id}}' tabindex='-1', aria-labelledby='exampleModalLabel', aria-hidden='true'
data-backdrop="static"
data-keyboard="false"
)
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal' ng-click='modal.close()') ×
				h4.modal-title {{modal.video.title}}
			.modal-body
				#div-player
					video(class="video-js vjs-default-skin"
					style='width: 100% !important;'
					id='videojs-modal'
					controls
					preload="auto"
					width="600" height="400"
					autoplay
					)
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal' ng-click='modal.close()') Close


.container.list-video-saved.margin-top-30(ng-if='listVideoSaved && listVideoSaved.length > 0')
	.row
		.col-md-12.margin-bottom-30
			img.inline.icon-onair-room-detail(src='/images/onair_title_2.png' style='width: 20px;height: auto;')
			span.margin-left-5.margin-bottom-30.font-20.black.bold Video đã lưu
		.col-md-12(ng-if='listVideoSaved.length > 0')
			.row
				.col-md-2(ng-repeat='video in listVideoSaved | limitTo : 6')
					.item.pointer(ng-click='openModalVideo(video)')
						div
							img.item-image(src='{{video.thumbs_path.thumb || "http://via.placeholder.com/100x100" }}')
							p.video-title {{video.title}}
						.group
							i.fa.fa-eye
							span(style='margin: 0 10px 0 5px;') {{video.view}}
							i.fa.fa-share
							span(style='margin: 0 10px 0 5px;') {{video.share}}
						//.mode(ng-if='video.mode == "1"')
						.mode
							i.fa.fa-play-circle(style='cursor:pointer;')