.room-detail
	.container
		.col-md-12.content
			.row(style='background: #1b1b1b;')
				.col-md-8.top-nav
					ul.list-inline
						li.list-inline-item
							span.title-room {{item.title}}
						li.list-inline-item
							i.fa.fa-eye
							span(style='margin: 0 15px 0 5px;') {{item.views}}
							i.fa.fa-heart
							span#room-heart-number(style='margin: 0 15px 0 5px;') {{item.hearts}}
					a.btn-share-facebook(
					href="#"
					socialshare
					socialshare-provider="facebook"
					socialshare-type="feed"
					socialshare-via="1546370315661210"
					socialshare-display="popup"
					socialshare-description="{{item.title}}"
					socialshare-caption="{{item.title}}"
					socialshare-text="{{item.title}}"
					socialshare-url="{{linkShareFacebook}}"
					socialshare-media="{{item.banner || item.background || item.User.avatar}}"
					socialshare-redirect-uri="{{linkShareFacebook}}"
					)
						i.fa.fa-facebook
						//span(style='margin:5px;') Share Facebook
					button.btn.btn-primary.pull-right.btn-schedule(ng-click='openLichDien()') Lịch phát sóng
				.col-md-4
					.text-center.text-top3
						//span Top 3 quà tăng
			.row
				.col-md-8.room-content-left(style='padding:0;')
					.han-che-nguoi-xem(style='z-index: 9;' ng-if='item && item.mode == 2 && !linkPlayLive && loadedRoomDetail==true')
						p Chương trình hạn chế người xem
						p.text-center
							span Giá vé:
							span.price 100 Ucoin
						.buy-ticker
							button.btn.btn-primary(ng-click='buyTicket()')
								span Mua vé
								i.fa.fa-play-circle


					.han-che-nguoi-xem(style='z-index: 9;' ng-if='(roomNowLivestream == false || !linkPlayLive) && loadedRoomDetail==true ')
						p: b.price Phòng này chưa diễn. Bạn vui lòng quay lại sau!
					.room-player(ng-show=' !linkPlayLive || roomNowLivestream == false && loadedRoomDetail==true '
					style='background-image: url("{{item.banner || item.background || item.User.avatar}}");')

					.room-player(ng-show='linkPlayLive && roomNowLivestream == true && loadedRoomDetail==true '
					style='background-image: url("{{item.banner || item.background || item.User.avatar}}");')
						video#videojs-room-detail-main.video-js.vjs-default-skin(
						controls
						autoplay
						)
					list-user-room.list-user-room(ng-model='id')

				.col-md-4.room-content-right(style='padding:0;' ng-show='socketIsConnected == true ')
					//.top-3-tang-qua
						.item.first
							img.image(src='http://via.placeholder.com/20x20')
							span.name Name user
							span.ucoin.pull-right 120 Ucoin
						.item.second
							img.image(src='http://via.placeholder.com/20x20')
							span.name Name user
							span.ucoin.pull-right 120 Ucoin
						.item.third
							img.image(src='http://via.placeholder.com/20x20')
							span.name Name user
							span.ucoin.pull-right 120 Ucoin
					#content-chat-list.content-chat
						//.item
							img.image(src='{{ite.user.avatar || "http://via.placeholder.com/40x40"}}' style='width:40px; height: 40px;')
							.group-name
								.name {{ite.user.name}}
								.subname {{ite.message}}
							.time.pull-right 11:11
					.chat-form
						div
							input.chat#chat-input-form(data-emojiable="true" type='text')
						.group-btn
							button.btn-gift( ng-click='clickSendHeart()' )
								i.fa.fa-heart
							button.btn-gift( ng-click='openListGift()' )
								i.fa.fa-gift
							button.btn-send(ng-click='sendChatMsg()')
								i.fa.fa-send

list-video-saved(ng-model='id')
list-gift(ng-model='id')
lich-dien-room-detail(ng-model='id')
heart-animation#heart-animation(ng-model='id' ng-show='showHeartAnimation == true' )



