.room-detail
	.container
		.col-md-12.content(style='padding: 0;')
			.row(style='background: #1b1b1b;')
				.col-md-8.top-nav
					ul.list-inline
						li.list-inline-item
							span.title-room {{item.title}}
						li.list-inline-item
							i.fa.fa-eye
							span(style='margin: 0 15px 0 5px;') {{item.views}}
							i.fa.fa-heart
							span#room-heart-number(style='margin: 0 15px 0 5px;') {{item.hearts}}
					//socialshare-url="{{linkShareFacebook}}"
					//socialshare-redirect-uri="{{linkShareFacebook}}"
					a.btn-share-facebook(
					href="#"
					socialshare
					socialshare-provider="facebook"
					socialshare-type="feed"
					socialshare-via="144785392941236"
					socialshare-display="popup"
					socialshare-description="{{item.title}}"
					socialshare-caption="{{item.title}}"
					socialshare-text="{{item.title}}"
					socialshare-url="{{linkShareFacebook}}"
					socialshare-redirect-uri="{{linkShareFacebook}}"
					socialshare-media="{{item.banner || item.background || item.User.avatar}}"
					)
						i.fa.fa-facebook
						//span(style='margin:5px;') Share Facebook
					button.btn.btn-primary.pull-right.btn-schedule(ng-click='openLichDien()') Lịch phát sóng
				.col-md-4
					.text-center.text-top3
						//span Top 3 quà tăng
			.row
				.col-md-8.room-content-left(style='padding:0;')
					.han-che-nguoi-xem(style='z-index: 9;' ng-if='item && item.mode == 2 && !linkPlayLive && loadedRoomDetail==true')
						p Chương trình hạn chế người xem
						p.text-center
							span Giá vé:
							span.price 100 Ucoin
						.buy-ticker
							button.btn.btn-primary(ng-click='buyTicket()')
								span Mua vé
								i.fa.fa-play-circle


					.han-che-nguoi-xem(style='z-index: 9;' ng-if='(roomNowLivestream == false || !linkPlayLive) && loadedRoomDetail==true ')
						p: b.price Phòng này chưa diễn. Bạn vui lòng quay lại sau!
					.room-player(ng-show=' !linkPlayLive || roomNowLivestream == false && loadedRoomDetail==true '
					style='background-image: url("{{item.banner || item.background || item.User.avatar}}");')

					.room-player(ng-show='linkPlayLive && roomNowLivestream == true && loadedRoomDetail==true '
					style='background-image: url("{{item.banner || item.background || item.User.avatar}}");')
						video#videojs-room-detail-main.video-js.vjs-default-skin(
						controls
						autoplay
						)
					list-user-room.list-user-room(ng-model='id')

				.col-md-4.room-content-right(style='padding:0;' ng-show='socketIsConnected == true ')
					//.top-3-tang-qua
						.item.first
							img.image(src='http://via.placeholder.com/20x20')
							span.name Name user
							span.ucoin.pull-right 120 Ucoin
						.item.second
							img.image(src='http://via.placeholder.com/20x20')
							span.name Name user
							span.ucoin.pull-right 120 Ucoin
						.item.third
							img.image(src='http://via.placeholder.com/20x20')
							span.name Name user
							span.ucoin.pull-right 120 Ucoin
					#content-chat-list.content-chat
						//.item
							img.image(src='{{ite.user.avatar || "http://via.placeholder.com/40x40"}}' style='width:40px; height: 40px;')
							.group-name
								.name {{ite.user.name}}
								.subname {{ite.message}}
							.time.pull-right 11:11
					.chat-form
						div
							input.chat#chat-input-form(data-emojiable="true" type='text')
						.group-btn
							button.btn-gift( ng-click='clickSendHeart()' )
								i.fa.fa-heart
							button.btn-gift( ng-click='openListGift()' )
								i.fa.fa-gift
							button.btn-send(ng-click='sendChatMsg()')
								i.fa.fa-send


	.container.list-room-same-category(ng-if='roomNowOnAir && roomNowOnAir.length>0')
		.col-md-12
			h1 Phòng đang diễn
			.row
				.col-md-2(ng-repeat='room in roomNowOnAir | limitTo:12 ')
					.item
						a(ui-sref='base.room-detail({id : room.id})')
							img.item-image(src='{{room.banner || room.background || room.User.avatar || "http://via.placeholder.com/185x185" }}')
						.item-group.row
							.item-title.col-md-8
								a(ui-sref='base.room-detail({id : room.id})')
									p.title {{room.title}}
								i.fa.fa-eye
								span.value {{room.views}} &nbsp;&nbsp;
								i.fa.fa-heart
								span.value {{room.hearts}}
							.item-favorite.col-md-3.pointer( ng-if='room.isFollow == false'
							ng-click='nowOnAirFollowIdol(room, $index )')
								i.fa.fa-plus-circle
							.on-air-icon
								.icon &nbsp;
								span LIVE

	.container.list-room-same-category(ng-if='category && category.Rooms && category.Rooms.length>0')
		.col-md-12
			h1 Phòng cùng chuyên mục
			.row
				.col-md-2(ng-repeat='room in category.Rooms | limitTo:12 ')
					.item
						a(ui-sref='base.room-detail({id : room.id})')
							img.item-image(src='{{room.banner || room.background || room.User.avatar || "http://via.placeholder.com/185x185" }}')
						.item-group.row
							.item-title.col-md-8
								a(ui-sref='base.room-detail({id : room.id})')
									p.title {{room.title}}
								i.fa.fa-eye
								span.value {{room.views}} &nbsp;&nbsp;
								i.fa.fa-heart
								span.value {{room.hearts}}
							.item-favorite.col-md-3.pointer( ng-if='room.isFollow == false'
							ng-click='sameRoomFollowIdol(room, $index )')
								i.fa.fa-plus-circle

list-video-saved(ng-model='id')
list-gift(ng-model='id')
lich-dien-room-detail(ng-model='id' ng-action='callbackAfterFollowThisRoom')
heart-animation#heart-animation(ng-model='id' ng-show='showHeartAnimation == true' )



