<h1 style="display: none;"><%= ( (token != undefined && token) ? token : '') %></h1>

<div id="payment" class="main">
  <div class="heading">
    <% if(!user || typeof (user) == 'undefined' ){ %>
    <h3 class="alert alert-danger not-login">Vui lòng đăng nhập để thực hiện chức năng này!</h3>
    <% } else { %>
    <img id="wallet_web" class="wallet_web" src="/assets/images/payment_2/wallet_web.png" alt="wallet_web" />
    <div class="user-coin-2" data-unit="xu"><span><%= ( (user != undefined && user) ? user.money : 0) %></span><sup>xu</sup></div>
    <div class="user-name"><%= (user != undefined ? user.name : '') %></div>
    <div class="note-trade">(1 xu = 100<sup>vnđ</sup>)</div>
    <div class="payment-guide">
      <a href="./paymentforapp/huong-dan" class="btn btn-primary btn-tutorial" role="button">Hướng dẫn</a>
    </div>
    <% } %>
  </div>

  <% if(!user || typeof (user) == 'undefined' ){ %>
  <% } else { %>
  <div class="select-payment-method">Chọn phương thức nạp xu</div>
  <% } %>

  <% if (typeof user != 'undefined' && user != undefined && user){ %>
  <div class="nav-link-method">
    <a div-target="#sms" class="item nav-method-select" href="javascript:void(0);">
      <img class="image" src="/assets/images/payment_2/napxu_sms.png" />
      <div class="name">SMS <br> &nbsp;</div>
    </a>
    <a div-target="#mobile_Card" class="item nav-method-select" href="javascript:void(0);">
      <img class="image" src="/assets/images/payment_2/napxu_thecao.png" />
      <div class="name"> Thẻ cào <br>điện thoại</div>
    </a>
    <a div-target="#internet_Banking" class="item nav-method-select" href="javascript:void(0);">
      <img class="image" src="/assets/images/payment_2/napxu_internet.png" />
      <div class="name"> Internet <br>Banking</div>
    </a>
    <a class="back nav-method-back" href="javascript:void(0);">
      <img src="/assets/images/payment_2/back_button.png" />
    </a>
  </div>
  <% } %>

  <% if (typeof user != 'undefined' && user != undefined && user){ %>
  <div class="payment-content">
    <!--SMS-->
    <div id="sms" class="payment-content-sms" data-code="<%= user != undefined ? user.active_code : "[Mã tài khoản]" %>">
      <% if (user && user != undefined && user.is_mbf){ %>

      <div class="description">
        <div class="title">Gói cước dành cho thuê bao <span class="color-primary">Mobifone</span></div>
      </div>
      <div id="mbp">
        <div class="box-sms" data-price="5.000" data-coin="50" data-name="Gói 1">
          <a href="javascript:void(0)" class="box-wrapper" data-value="1">
            <div class="box-coin" data-unit="">50 xu</div>
            <div class="box-cash" data-unit="">5.000<sup>vnđ</sup></div>
          </a>
        </div>
        <div class="box-sms" data-price="10.000" data-coin="100" data-name="Gói 2">
          <a href="javascript:void(0)" class="box-wrapper" data-value="1">
            <div class="box-coin" data-unit="">100 xu</div>
            <div class="box-cash" data-unit="">10.000<sup>vnđ</sup></div>
          </a>
        </div>
        <div class="box-sms" data-price="20.000" data-coin="200" data-name="Gói 3">
          <a href="javascript:void(0)" class="box-wrapper" data-value="1">
            <div class="box-coin" data-unit="">200 xu</div>
            <div class="box-cash" data-unit="">20.000<sup>vnđ</sup></div>
          </a>
        </div>
      </div>
      <br>
      <br>
      <br>
      <% } %>

      <div class="description">
        <div class="title">Gói cước dành cho thuê bao
          <% if (( user && typeof (user) != 'undefined' && !user.is_mbf) || (!user || typeof (user) == 'undefined')  ){ %>
          <span class="color-primary">Mobiphone</span> và
          <% } %>
          <span class="color-primary">Vinaphone</span>
        </div>
      </div>
      <div id="mbp-vnp">
        <% if( sms && sms.length > 0){ %>
        <% sms.forEach(function(sms,key){ %>
        <div class="box-sms" onclick="((!user || user==undefined || typeof(user)=='undefined' ) ? $('.btn-signin').trigger('click') : null)" data-price="<%= sms.price %>" data-coin="<%= sms.coin %>" data-name="Gói <%= key + 1 %>">
          <a href="javascript:void(0)" class="box-wrapper" data-value="1">
            <div class="box-coin" data-unit=""><%= sms.coin %> xu</div>
            <div class="box-cash" data-unit=""><%= sms.price %><sup>vnđ</sup></div>
          </a>
        </div>
        <% }) %>
        <% } %>
      </div>


      <br>
      <br>
      <br>
      <div class="description">
        <div class="title">Gói cước dành cho thuê bao <span class="color-primary">Viettel</span></div>
      </div>
      <div id="vt">
        <% if( sms && sms.length > 0){ %>
        <% sms.forEach(function(sms,key){ %>
        <div class="box-sms" onclick="((!user || user==undefined || typeof(user)=='undefined' ) ? $('.btn-signin').trigger('click') : null)" data-price="<%= sms.price %>" data-coin="<%= sms.coin %>" data-name="Gói <%= key + 1 %>">
          <a href="javascript:void(0)" class="box-wrapper" data-value="1">
            <div class="box-coin" data-unit=""><%= sms.coin %> xu</div>
            <div class="box-cash" data-unit=""><%= sms.price %><sup>vnđ</sup></div>
          </a>
        </div>
        <% }) %>
        <% } %>
      </div>
    </div>

    <!--Thẻ cào điện thoại -->
    <div id="mobile_Card">
      <div class="head-title">Chọn gói xu (1 xu = 100 <sup>vnđ</sup>)</div>
      <div class="content">
        <div class="title">1. Chọn nhà mạng</div>
        <div class="body">
          <input id="mobile_Provider" type="text" value="" style="display: none" />
          <% if( providers && providers.length > 0){ %>
          <% providers.forEach(function(provider,key){ %>
          <div onclick="mobileCardSelectProvider(this);" class="provider" data-value="<%= provider.name %>"><%= provider.description %></div>
          <% }) %>
          <% } %>
        </div>

        <div class="title">2. Nhập mã thẻ cào</div>
        <div class="body">
          <input type="text" class="form-control " name="pin" id="mobile_Code" />
        </div>

        <div class="title">3. Nhập số seri</div>
        <div class="body">
          <input type="text" class="form-control " name="serial" id="mobile_Serial" />
        </div>

        <div class="captcha-group">
          <div id="captcha-card"></div>
        </div>

        <button type="button" class="btn btn-primary" id="btn-payment-by-card-for-app"> Thanh toán</button>

      </div>
    </div>
    <!--end the cao dien thoai-->


    <!--internet banking-->
    <div class="content-box" id="internet_Banking">
      <div class="step-block-bank">
        <ul class="step1">
          <li class="li_1">
            <a href="#stepA">
              <div class="image_step"></div>
              <span class="text_step">Chọn gói xu</span>
            </a>
          </li>
          <li class="li_2">
            <a href="#stepB">
              <div class="image_step"></div>
              <span class="text_step">Chọn ngân hàng</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="step-content-block-bank">
        <div class="content" id="stepA">
          <% if( megabanks && megabanks.length > 0){ %>
          <% megabanks.forEach(function(megabank,key){ %>
          <div class="box-sms">
            <a href="#" class="box-wrapper" data-value="<%= megabank.id %>">
              <span class="box-coin" data-unit=""><%= megabank.coin %> xu</span>
              <span class="box-cash" data-unit=""><%= megabank.price %><sup>vnđ</sup></span>
            </a>
          </div>
          <% }) %>
          <% } %>
        </div>

        <div class="content" id="stepB">
          <div class="form-block">
            <div class="select-arrow-down">
              <select name="bank" class="internet-bank-select">
                <% if( banks && banks.length > 0){ %>
                <% banks.forEach(function(bank,key){ %>
                <option value="<%= bank.bankID %>"><%= bank.name %></option>
                <% }) %>
                <% } %>
              </select>
              <i class="fa fa-caret-down"></i>
            </div>
            <div class="form-group captcha-group">
              <div id="captcha-payment"></div>
            </div>
            <button type="button" class="btn btn-primary" id="btn-PaymentMegabank-bank">
              Thanh toán
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--end internet banking-->

  </div>
  <% } %>

  <div class="support-info-block">
    <div>Hệ thống thanh toán được bảo trợ bởi <a href="http://vnptepay.com.vn/">VNPT EPAY (<i>http://vnptepay.com.vn/</i>)</a></div>
    <div>Trong trường hợp xảy ra lỗi, bạn vui lòng liên hệ nhân viên CSKH bằng hệ thống chat ở cuối trang.</div>
  </div>

</div>


<%- contentFor('appcss') %>
<link rel="stylesheet" href="/assets/css/payment.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/payment_2.css" type="text/css" />

<%- contentFor('appjs') %>


<script type="text/javascript">

  var showModalMobifone = function (code,name,money,coin,callback) {
    $('#modal_livestar_btn_no').hide();
    $('#modal_livestar_btn_yes').html('Đóng');
    var message = '<span>Gói Vip dành cho thuê bao<br/>Mobifone</span>';
    $('#modal_Livestar').find('h3').html(message);

    var sms = '<span class="color-xam">Cú pháp:</span>';
    sms += '<strong class="color-primary">XU' + coin + '</strong> ' +
      '<span class="color-xam">gửi đến</span>' +
      '<strong class="color-primary">9387</strong>';
    sms += '<br/><br/> Để nhận ' + coin + 'xu với giá ' + money + 'đ';
    sms += '<span class="color-xam">Vui lòng tải lại trang khi nhận thông báo thành công</span>';
    $('#modal_Livestar').find('p').html(sms);
    if (callback !== undefined) {
      $('#modal_livestar_btn_yes').one("click",callback);
    }
    $('#modal_Livestar').modal('show');
  };

  var showModalSms = function (code,name,money,coin,isViettel,callback) {
    $('#modal_livestar_btn_no').hide();
    $('#modal_livestar_btn_yes').html('Đóng');
    var message = '<span>Gói cước dành cho thuê bao<br/>';
    if (isViettel == true)
      message += 'Viettel</span>';
    else
      message += (typeof user == 'undefined' || (typeof user != 'undefined' && !user.is_mbf)) ? 'Mobifone và Vinaphone ' : 'Vinaphone</span>';
    $('#modal_Livestar').find('h3').html(message);
    var sms = '<span class="color-xam">Cú pháp</span>';
    sms += '<strong class="color-primary">MW LIVESTAR NAP' + money + ' ' + code + '</strong> ' +
      '<span class="color-xam">gửi đến</span>' +
      '<strong class="color-primary">9029</strong>';
    sms += '<span class="color-xam">Vui lòng tải lại trang khi nhận thông báo thành công</span>';
    $('#modal_Livestar').find('p').html(sms);
    if (callback !== undefined) {
      $('#modal_livestar_btn_yes').one("click",callback);
    }
    $('#modal_Livestar').modal('show');
  };

  $('#payment .nav-link-method .nav-method-select').on('click',function (event) {
    var div_tager = $(this).attr('div-target');
    $('#payment .nav-link-method .item').hide();
    $('#wallet_web').hide();
    $('.user-coin-2').hide();
    $('.select-payment-method').hide();

    $(this).show();
    $('#payment .nav-link-method .nav-method-back').show();
    $(div_tager).show();
  });

  $('#payment .nav-link-method .nav-method-back').on('click',function (event) {
    $(this).hide();
    $('#payment .nav-link-method .nav-method-select').show();
    $('#wallet_web').show();
    $('.user-coin-2').show();
    $('.select-payment-method').show();
    $('#sms').hide();
    $('#mobile_Card').hide();
    $('#internet_Banking').hide();
  });

  $('#mbp-vnp').on('click','.box-sms',function (event) {
    $('#payment .box-sms').removeClass('active');
    $(this).addClass('active');
    event.preventDefault();
    var price = parseInt($(this).attr("data-price").replace(/\./gi,""));
    var coin = $(this).attr("data-coin");
    var name = $(this).attr("data-name");
    var code = $('#sms').attr("data-code");
    showModalSms(code,name,price / 1000,coin,false,function () {
    });
  });

  $('#vt').on('click','.box-sms',function (event) {
    $('#payment .box-sms').removeClass('active');
    $(this).addClass('active');
    event.preventDefault();
    var price = parseInt($(this).attr("data-price").replace(/\./gi,""));
    var coin = $(this).attr("data-coin");
    var name = $(this).attr("data-name");
    var code = $('#sms').attr("data-code");
    showModalSms(code,name,price,coin,true,function () {
    });
  });

  $('#mbp').on('click','.box-sms',function (event) {
    $('#payment .box-sms').removeClass('active');
    $(this).addClass('active');
    event.preventDefault();
    var price = $(this).attr("data-price");
    var coin = $(this).attr("data-coin");
    var name = $(this).attr("data-name");
    var code = $('#sms').attr("data-code");
    showModalMobifone(code,name,price,coin,function () {
    });
  });

  $(document).ready(function () {
    console.log('payment ready');
  });

</script>

<script>
  //the cao dien thoai
  function mobileCardSelectProvider(ob) {
//    console.log($(ob));
    var select_provider = $(ob).attr('data-value');
//    console.log(select_provider);
    $('#mobile_Card .provider').removeClass('active');
    $(ob).addClass('active');
    $('#mobile_Provider').val(select_provider);
//    console.log($('#mobile_Provider').val());
  }

  $('#btn-payment-by-card-for-app').on('click',function (event) {
    event.preventDefault();
    $('#modal_Livestar').find('h3').html('<span>Thông báo</span>');
    var btn_Card = $('#btn-payment-by-card-for-app');
    if (!token || typeof (token) === 'undefined' || token == '')
      return PModal.modalAlert("Vui lòng đăng nhập !",function () {
        btn_Card.removeClass('loading');
        $('.btn-signin').trigger("click");
      });
    var provider = $('#mobile_Provider').val();
    var pin = $('#mobile_Code').val();
    var serial = $('#mobile_Serial').val();
    var key_payment = '';
    try {
      key_payment = grecaptcha.getResponse(widgetCard);
    }
    catch (e) {}
    if (!key_payment)
      return PModal.modalAlert("Vui lòng điền đầy đủ thông tin !!!",function () { btn_Card.removeClass('loading'); });

    if (!key_payment || !provider || !pin || !serial)
      return PModal.modalAlert("Vui lòng điền đầy đủ thông tin !!!",function () { btn_Card.removeClass('loading'); });
    if (key_payment !== '' && provider !== '' && pin !== '' && serial !== '') {
      var data = {provider:provider,pin:pin,serial:serial,key_payment:key_payment};
      $.ajax({
        url:API_PATH + 'users/mega-card',
        method:"POST",headers:{'Authorization':'Token token=' + token},
        dataType:'json',data:data,
        beforeSend:function () { btn_Card.addClass('loading'); },
        statusCode:{
          200:function (data) {
            console.log(data);
            btn_Card.removeClass('loading');
            var msg = (data.responseJSON ? data.responseJSON.message : '') || 'Nạp tiền thành công.';
            PModal.modalAlert(msg,function () { window.location.reload(); });
          },
          400:function (data) {
            btn_Card.removeClass('loading');
            reRenderCaptcha();
            console.log(data);
            var msg = (data.responseJSON ? data.responseJSON.message : '') || "Thẻ cào bị lỗi, vui lòng thử lại sau";
            PModal.modalAlert(msg,function () { });
          },
          401:function (data) {
            btn_Card.removeClass('loading');
            reRenderCaptcha();
            console.log(data);
            var msg = (data.responseJSON ? data.responseJSON.message : '') || "Thẻ cào bị lỗi, vui lòng thử lại sau";
            PModal.modalAlert(msg,function () { });
          },
          403:function (data) {
            console.log(data);
            reRenderCaptcha();
            var msg = (data.responseJSON ? data.responseJSON.message : '') || "Thẻ cào bị lỗi, vui lòng thử lại sau";
            PModal.modalAlert(msg,function () { btn_Card.removeClass('loading'); });
          },
          500:function (data) {
            console.log(data);
            btn_Card.removeClass('loading');
            reRenderCaptcha();
            var msg = (data.responseJSON ? data.responseJSON.message : '') || "Thẻ cào bị lỗi, vui lòng thử lại sau";
            PModal.modalAlert(msg,function () {});
          }
        }
      }).done(function (data) { btn_Card.removeClass('loading'); });
    } else {
      PModal.modalAlert("Vui lòng điền đầy đủ thông tin !!!",function () { btn_Card.removeClass('loading'); });
    }
  });

</script>

<script>
  $('#payment #internet_Banking .step-block-bank a').on('click',function (event) {
    var div_target = $(this).attr('href');
    $('#stepA').hide();
    $('#stepB').hide();
    if (div_target == '#stepA') {
      $('#internet_Banking .step-block-bank ul').removeClass('step2');
      $('#internet_Banking .step-block-bank ul').addClass('step1');
      $(div_target).show();
    }
    if (div_target == '#stepB') {
      if ($('#stepA .box-sms.active').length <= 0) {
        $('#stepA').show();
      } else {
        $('#internet_Banking .step-block-bank ul').removeClass('step1');
        $('#internet_Banking .step-block-bank ul').addClass('step2');
        $(div_target).show();
      }
    }

  });

  $('#payment #stepA').on('click','.box-sms',function (event) {
    $('#payment #stepA .box-sms').removeClass('active');
    $(this).addClass('active');
    event.preventDefault();
    $('#stepA').hide();
    $('#stepB').show();
    $('#internet_Banking .step-block-bank ul').removeClass('step1');
    $('#internet_Banking .step-block-bank ul').addClass('step2');
  });

  $('#btn-PaymentMegabank-bank').on('click',function (event) {
    var btn_internetBank = $('#btn-PaymentMegabank-bank');
    btn_internetBank.attr("disabled", "disabled").button('refresh');
    btn_internetBank.addClass('loading');

    setTimeout(function () {
      btn_internetBank.removeAttr("disabled").button('refresh');
      btn_internetBank.removeClass('loading');
    },2000);

    event.preventDefault();
    var megabank_id = parseInt($('#internet_Banking #stepA .box-sms.active a.box-wrapper').attr('data-value'));
    var bank_id = $('#internet_Banking #stepB  select[name="bank"]').val();
    var respUrl = window.location.origin + "/paymentforapp/result";
    console.log('megabank_id=',megabank_id);
    console.log('bank_id=',bank_id);
    console.log('respUrl=',respUrl);
    var key_megabank='';
    try {
      key_megabank = grecaptcha.getResponse(widgetMegabank);
    }catch(e){}
    console.log('key_megabank=',key_megabank);
    if(!key_megabank)
      return PModal.modalAlert('Captcha không hợp lệ ',function () {
      });

    if ((typeof token === 'undefined' || token == '' || !token))
      return $('.btn-signin').trigger("click");

    if (key_megabank !== '' && megabank_id !== '' && bank_id !== '' && respUrl !== '') {
      var data = {megabank_id:megabank_id,bank_id:bank_id,respUrl:respUrl,key_megabank:key_megabank};
      $.ajax({
        url:API_PATH + 'users/internet-banking',
        method:"POST",
        headers:{'Authorization':'Token token=' + token},
        dataType:'json',
        data:data,
        beforeSend:function () {
          btn_internetBank.attr("disabled", "disabled").button('refresh');
          btn_internetBank.addClass('loading');
        },
        statusCode:{
          200:function (data) {
            console.log('PaymentMegabank.handlePaymentMegabank');
            console.log('data=',JSON.stringify(data));
            window.location = data.url
          },
          400:function (data) {
            var msg = JSON.parse(data.responseText);
            PModal.modalAlert(msg.error,function () {
//              $('.btn-PaymentMegabank').removeClass('loading');
            });
          },
          500:function (data) {
            PModal.modalAlert(data.responseText,function () {
//              $('.btn-PaymentMegabank').removeClass('loading');
            });
          }
        }
      }).done(function () {
        btn_internetBank.removeAttr("disabled").button('refresh');
        btn_internetBank.removeClass('loading');
      });
    } else {
      PModal.modalAlert("Vui lòng điền đầy đủ thông tin !!!",function () {
//        $('.btn-payment').removeClass('loading');
      });
    }
  });

</script>