.wrapper
	.row.profile-charge-ucoin(ng-if='stepView == "step1" ')
		.col-md-12.header
			h1 Nạp Ucoin
		.col-md-12.body.step-1
			.step
				span.title 1
				span Chọn phương thức thanh toán
			.list
				ul.list-package.list-inline
					li.list-inline-item(
					ng-click=' goStep2("sms") '
					ng-class='{"selected": step1ChooseMethod == "sms" }'
					)
						span Qua SMS
						i.fa.fa-check(ng-if='step1ChooseMethod == "sms"')

					li.list-inline-item(
					ng-click=' goStep2("card")'
					ng-class='{"selected": step1ChooseMethod == "card" }'
					)
						span Thẻ cào điện thoại
						i.fa.fa-check(ng-if='step1ChooseMethod == "card"')

					li.list-inline-item(
					style='width:auto; padding: 10px 20px;'
					ng-click='goStep2("internetbanking")'
					ng-class='{"selected": step1ChooseMethod == "internetbanking" }'
					)
						//span Thẻ nội địa và thẻ quốc tế (Visa, Master card)
						span Thẻ ngân hàng
						i.fa.fa-check(ng-if='step1ChooseMethod == "internetbanking"')

					li.list-inline-item(
					style='width:auto; padding: 10px 20px;'
					ng-click='goStep2("redeemcode")'
					ng-class='{"selected": step1ChooseMethod == "redeemcode" }'
					)
						span Redeem Code
						i.fa.fa-check(ng-if='step1ChooseMethod == "redeemcode"')



	.row.profile-charge-ucoin.step2(ng-if='stepView == "step2" && step1ChooseMethod == "sms" ')
		button.btn.btn-default.btn-back-to-step1(ng-if='stepView == "step2"' ng-click='backToStep1()')
			i.fa.fa-angle-left
		include charge-ucoin/_sms


	.row.profile-charge-ucoin.step2(ng-if='stepView == "step2" && step1ChooseMethod == "card" ')
		button.btn.btn-default.btn-back-to-step1(ng-if='stepView == "step2"' ng-click='backToStep1()')
			i.fa.fa-angle-left
		include charge-ucoin/_telco-card


	.row.profile-charge-ucoin.step2(ng-if='stepView == "step2" && step1ChooseMethod == "internetbanking" ')
		button.btn.btn-default.btn-back-to-step1(ng-if='stepView == "step2"' ng-click='backToStep1()')
			i.fa.fa-angle-left
		include charge-ucoin/_internet-bank

	.row.profile-charge-ucoin.step2(ng-if='stepView == "step2" && step1ChooseMethod == "redeemcode" ')
		button.btn.btn-default.btn-back-to-step1(ng-if='stepView == "step2"' ng-click='backToStep1()')
			i.fa.fa-angle-left
		include charge-ucoin/_redeem_code

