.wrapper
	.row.profile-charge-ucoin(ng-if='stepView == "step1" ')
		.col-md-12.header
			h1 Nạp Ucoin
		.col-md-12.body.step-1
			.step
				span.title 1
				span Chọn phương thức thanh toán
			.list
				ul.list-package.list-inline
					li.list-inline-item(
					ng-click=' goStep2("sms") '
					ng-class='{"selected": step1ChooseMethod == "sms" }'
					)
						span Qua SMS
						i.fa.fa-check(ng-if='step1ChooseMethod == "sms"')
					li.list-inline-item(
					ng-click=' goStep2("card")'
					ng-class='{"selected": step1ChooseMethod == "card" }'
					)
						span Thẻ cào điện thoại
						i.fa.fa-check(ng-if='step1ChooseMethod == "card"')
					li.list-inline-item(
					ng-click='goStep2("internetbanking")'
					ng-class='{"selected": step1ChooseMethod == "internetbanking" }'
					)
						span Thẻ nội địa và thẻ quốc tế (Visa, Master card)
						i.fa.fa-check(ng-if='step1ChooseMethod == "internetbanking"')




	.row.profile-charge-ucoin.step2(ng-if='stepView == "step2" && step1ChooseMethod == "sms" ')
		.col-md-12.header
			h1 Nạp Ucoin
		.col-md-12.body.step-1
			.step
				span.title 2
				span Chọn gói Ucoin
		.col-md-12
			.list
				ul.list-inline.list-package
					li.list-inline-item(
					ng-if='listPackage && listPackage.sms && listPackage.sms.Packages'
					ng-repeat='item in listPackage.sms.Packages'
					ng-click='step2SelectedPackage(item, $index)'
					ng-class='{"selected": step2PackageSelected.id == item.id }'
					)
						span {{item.name}}
						br
						span {{item.coin}} Ucoin
						p Code: {{item.code}}
						i.fa.fa-check(ng-if='step2PackageSelected.id == item.id')
		.col-md-12(ng-if='step2PackageSelected.id')
			hr
			p.text-center Để đăng kí gói
				b {{step2PackageSelected.name}}
			p.text-center Vui lòng soạn tin nhắn với cú pháp:
			p.text-center
				b MV LIVESTART NAP{{step2PackageSelected.coin}}
			p.text-center gửi
			p.text-center
				b 9029






	.row.profile-charge-ucoin.step2(ng-if='stepView == "step2" && step1ChooseMethod == "card" ')
		.col-md-12.header
			h1 Nạp Ucoin
		.col-md-12.body.step-1
			.step
				span.title 2
				span Chọn gói Ucoin
		.col-md-12
			.list
				ul.list-inline.list-package
					li.list-inline-item(
					ng-if='listPackage && listPackage.telco && listPackage.telco.Packages'
					ng-repeat='item in listPackage.telco.Packages'
					ng-click='step2SelectedPackage(item, $index)'
					ng-class='{"selected": step2PackageSelected.id == item.id }'
					)
						span {{item.name}}
						br
						span {{item.coin}} Ucoin
						p Code: {{item.code}}
						i.fa.fa-check(ng-if='step2PackageSelected.id == item.id')
		.col-md-12(ng-if='step1ChooseMethod == "card" && step2PackageSelected.id ')
			p Chọn nhà cung cấp
			.list
				ul.list-inline.list-package
					li.list-inline-item(
					ng-if='listPackage && listPackage.telco && listPackage.telco.Sources'
					ng-repeat='item in listPackage.telco.Sources'
					ng-click='step2SelectedPackage(item, $index)'
					)
						span {{item.name}}
						br
						span {{item.code}}
						i.fa.fa-check()





	.row.profile-charge-ucoin.step2(ng-if='stepView == "step2" && step1ChooseMethod == "internetbanking" ')
		.col-md-12.header
			h1 Nạp Ucoin
		.col-md-12.body.step-1
			.step
				span.title 2
				span Chọn gói Ucoin
		.col-md-12
			.list
				ul.list-inline.list-package
					li.list-inline-item(
					ng-if='listPackage && listPackage.bank && listPackage.bank.Packages'
					ng-repeat='item in listPackage.bank.Packages'
					ng-click='step2SelectedPackage(item, $index)'
					ng-class='{"selected": step2PackageSelected.id == item.id }'
					)
						span {{item.name}}
						br
						span {{item.coin}} Ucoin
						p Code: {{item.code}}
						i.fa.fa-check(ng-if='step2PackageSelected.id == item.id')



		//.col-md-12(ng-if='step1ChooseMethod == "card" ')
		//	hr
		//	p.text-left Chọn nhà cung cấp
		//	ul.list-telco-card
		//		li viettel
		//		li mbf
		//		li zing
		//	.row
		//		.col-md-2 Nhập mã thẻ cào
		//		.col-md-4
		//			input.form-control()
		//	.row
		//		.col-md-2 Nhập số seri
		//		.col-md-4
		//			input.form-control()
		//	hr
		//	.row
		//		.col-md-6.text-right
		//			button.btn.btn-primary() NẠP UCOIN
		//
		//.col-md-12(ng-if='step1ChooseMethod == "internetbanking" ')
		//	hr
		//	p.text-left Chọn loại thẻ
		//	ul.list-telco-card
		//		li Thẻ ngân hàng nội địa
		//		li Thẻ quốc tế (Visa, Master card)
		//
		//.col-md-12
		//	.list
		//		ul.list-package.list-inline
		//			li.list-inline-item(ng-repeat='item in listPackage'
		//			ng-if=' item.status == true && item.code.indexOf("vn.yup.coin") == -1  '
		//			ng-click='selectedPackage(item, $index)'
		//			ng-class='{"selected" : packageSelected.id == item.id }')
		//				span {{item.name}}
		//				br
		//				span {{item.coin}} Ucoin
		//				p Code: {{item.code}}
		//				i.fa.fa-check(ng-if='packageSelected.id == item.id')
		//.col-md-12
		//	hr
		//.col-md-12
		//	.row
		//		.col-md-6
		//			input(type='checkbox' ng-model='checkPolicy.value' name='policy' )
		//			| &nbsp; Tôi đã đọc và đồng ý với các chính sách
		//		.col-md-6.text-right
		//			button.btn.btn-primary(ng-disabled=" checkPolicy.value==false || !packageSelected.id "
		//			ng-click='goStep2()') NẠP UCOIN


