.wrapper
	.row.profile-manage-room
		.col-md-12.header
			h1 Quản lý phòng diễn
			p Thay đổi ảnh đại diện phòng, cài đặt lịch diễn
		.col-md-12
			hr
		.col-md-12.body-top
			.row
				.col-md-5
					.group-image
						img.img-responsive(src='{{ user.avatar || user.Room.banner || user.Room.background || "http://via.placeholder.com/350x200" }}')
						//button.btn-change-room-banner Thay đổi
						button.btn-change-room-banner(type="file" ngf-select="changeRoomBanner($file, $invalidFiles)"
						accept="image/*"  ngf-max-size="10MB"
						ngf-max-height="1000", ngf-max-width="2000") Thay đổi
					.group-info
						.left Ảnh phòng diễn
						.right Size chuẩn: 350x200 px
				.col-md-7
					h3.room-title {{user.Room.title}}
					.group-icon
						i.fa.fa-eye
						span {{user.Room.views}}
						i.fa.fa-heart-o
						span {{user.Room.hearts}}
					p {{user.Room.description}}
					.group-category
						span Chọn thể loại
						select.form-control(
						ng-model="categorySelected"
						ng-options="item.id as item.title for item in selectCategoryValue")
		.col-md-12
			hr

		.col-md-12.body-bottom
			.row
				.col-md-8.col-md-offset-2
					.left
						span Lịch diễn
						button(ng-click='openModalDetailAddEdit(null)')
							i.fa.fa-plus
					.right
						span Hiển thị

						select.form-control.month(
						ng-model="monthSelected"
						ng-change="changeMonthSelect()"
						ng-options="item.id as item.title for item in selectMonthValue"
						)
						select.form-control.year
							option Năm
				.col-md-8.col-md-offset-2
					table.table-bordered.table
						thead
							th.no-border-right Ngày diễn
							th.no-border-right.no-border-left Giờ diễn
							th.no-border-left Thay đổi
						tr(ng-if='listScheduleOfRoom.length <= 0')
							td(colspan='3') Chưa có lịch diễn nào
						tr(ng-repeat='item in listScheduleOfRoom' ng-if='listScheduleOfRoom.length > 0')
							td.no-border-right {{item.start | date : 'dd-MM-yyyy'}}
							td.no-border-right.no-border-left {{item.start | date : 'h:mm'}}
							td.no-border-left
								.text-right
									i.fa.fa-pencil(ng-click='openModalDetailAddEdit(item)')
									i.fa.fa-remove(ng-click='deleteItemSchedule(item)')
