.container
	div(ui-view='')
		.row.profile-user-information
			.col-md-3
				ul.list-nav-user-info
					li
						a(href='' ng-click='changeTab("user-information")' ng-class='{"active" : tabActive == "user-information" }' )
							| Thông tin cá nhân
					li
						a(href='' ng-click='changeTab("saved-video")' ng-class='{"active" : tabActive == "saved-video" }' )
							| Video đã lưu
					li
						a(href='' ng-click='changeTab("following")' ng-class='{"active" : tabActive == "following" }' )
							| Đang theo dõi
					li
						a(href='' ng-click='changeTab("user-followed")' ng-class='{"active" : tabActive == "user-followed" }' )
							| Người theo dõi
			.col-md-9
				.wrapper
					.row.follower(ng-if='tabActive == "user-followed"')
						.col-md-12(ng-if=' !follower.items || follower.items.length <= 0')
							h1 Người theo dõi
							p Bạn không có người theo dõi nào
						.col-md-12(ng-if=' follower.items && follower.items.length > 0')
							.row
								.col-md-12
									h1 Người theo dõi ({{follower.total_item}})
								.col-md-2(ng-repeat='followerItem in follower.items')
									.follower-item
										//img.img-responsive(src='{{followerItem.banners.banner}}')
										img.img-responsive(src='{{followerItem.User.avatars_path.avatar}}')
										.name.text-center {{followerItem.title}}

								.col-md-12
									uib-pagination.table-records-pages(
									total-items='follower.total_item',
									ng-model='follower.page',
									items-per-page='follower.limit'
									ng-change="tabFollowerPageChange()"
									max-size="7"
									boundary-links="true"
									rotate="false"
									first-text='«'
									last-text = '»'
									next-text ='›'
									previous-text= '‹'
									)

					.row.following(ng-if='tabActive == "following"')
						.col-md-12(ng-if=' !following.items || following.items.length <= 0')
							h1 Đang theo dõi
							p Bạn chưa theo dõi ai
						.col-md-12(ng-if=' following.items && following.items.length > 0')
							.row
								.col-md-12
									h1 Đang theo dõi ({{following.total_item}})
								.col-md-2(ng-repeat='followingItem in following.items')
									.following-item
										img.img-responsive(src='{{followingItem.User.avatars_path.avatar}}')
										.name.text-center {{followingItem.title}}

								.col-md-12
									uib-pagination.table-records-pages(
									total-items='following.total_item',
									ng-model='following.page',
									items-per-page='following.limit'
									ng-change="tabFollowingPageChange()"
									max-size="7"
									boundary-links="true"
									rotate="false"
									first-text='«'
									last-text = '»'
									next-text ='›'
									previous-text= '‹'
									)

					.row.saved-video(ng-if='tabActive == "saved-video"')
						.col-md-12(ng-if='!savedVideo.items || savedVideo.items.length <= 0')
							h1 Video đã lưu
							p Bạn chưa lưu video nào
						.col-md-12(ng-if=' savedVideo.items && savedVideo.items.length > 0')
							.row
								.col-md-12
									h1 Video đã lưu ({{savedVideo.total_item}})
								.col-md-3(ng-repeat='video in savedVideo.items')
									.video-content(ng-if='video.thumb && video.title')
										img.img-responsive(src='{{video.thumb}}')
										.group-name
											.name {{video.title}}
											.icon-favorite
												i.fa.fa-eye
												span &nbsp;{{video.view}}&nbsp;
												i.fa.fa-share
												span &nbsp;{{video.share}}&nbsp;
										//mode 1/public, 2/restric, 3/private
										//status  = 1 active, =2 dang xu ly
										button.btn-lock
											i.fa.fa-lock

								.col-md-12
									uib-pagination.table-records-pages(
									total-items='savedVideo.total_item',
									ng-model='savedVideo.page',
									items-per-page='savedVideo.limit'
									ng-change="tabVideoPageChange()"
									max-size="7"
									boundary-links="true"
									rotate="false"
									first-text='«'
									last-text = '»'
									next-text ='›'
									previous-text= '‹'
									)

					.row.user-information(ng-if='tabActive == "user-information"')
						.col-md-12
							.image
								img(src='{{user.avatars_path.avatar}}')
								button.change-avatar(type="file" ngf-select="uploadNewAvatar($file, $invalidFiles)"
								accept="image/*"  ngf-max-size="10MB"
								ngf-max-height="1000", ngf-max-width="2000")
									i.fa.fa-pencil
							.info
								.group
									span.name {{user.name}}
									span.level Level {{user.levelId}}
								.content
									|Member since {{user.activeDate | date:'dd/MM/yyyy' }}
						.col-md-12
							hr
						.col-md-12.user-update-info
							.row
								.col-md-4.col-md-offset-2
									span.title Tên người dùng *
									span.sub-title tối thiểu 6 kí tự
								.col-md-5
									input.form-control(type='text' value='{{user.name}}' readonly='readonly')
							.row
								.col-md-4.col-md-offset-2
									span.title Ngày sinh
								.col-md-5
									input.form-control(type="text"
									datepicker-popup="yyyy-MM-dd"
									ng-model="birthDate.dt"
									is-open="birthDate.opened"
									min="birthDate.min"
									datepicker-options="dateOptions"
									date-disabled=""
									ng-required="true"
									)
									button.pull-right.btn.btn-primary( ng-click="openDate()"
									style='position: absolute; right: 15px; top: 0;')
										i.fa.fa-calendar
									//input.form-control(type='text' value='{{user.birthday | date: "dd/MM/yyyy" }}' readonly='readonly')
							.row
								.col-md-4.col-md-offset-2
									span.title Giới tính
								.col-md-5
									input.checkbox-sex(type='radio' name='sex' value='male' ng-model='user.gender')
									span.value-sex Nam
									input.checkbox-sex(type='radio' name='sex' value='female' ng-model='user.gender')
									span.value-sex Nữ
									input.checkbox-sex(type='radio' name='sex' value='other' ng-model='user.gender')
									span.value-sex Khác
							.row
								.col-md-4.col-md-offset-2
									span.title Mật khẩu hiện tại
								.col-md-5
									input.form-control(type='password' ng-model='changePass.old')
							.row
								.col-md-4.col-md-offset-2
									span.title Mật khẩu mới
								.col-md-5
									input.form-control(type='password' ng-model='changePass.new')
							.row
								.col-md-4.col-md-offset-2
									span.title Xác nhận mật khẩu
								.col-md-5
									input.form-control(type='password' ng-model='changePass.renew')
							.row
								.col-md-5.col-md-offset-6
									button.btn.btn-success.pull-right(ng-click='updateProfile()') LƯU THAY ĐỔI
