.container
	div(ui-view='')
		.row.profile-user-information
			.col-md-3
				ul.list-nav-user-info
					li
						a(href='' ng-click='changeTab("user-information")' ng-class='{"active" : tabActive == "user-information" }' )
							| Thông tin cá nhân
					li
						a(href='' ng-click='changeTab("saved-video")' ng-class='{"active" : tabActive == "saved-video" }' )
							| Video đã lưu
					li
						a(href='' ng-click='changeTab("following")' ng-class='{"active" : tabActive == "following" }' )
							| Đang theo dõi
					li
						a(href='' ng-click='changeTab("user-followed")' ng-class='{"active" : tabActive == "user-followed" }' )
							| Người theo dõi
			.col-md-9
				.wrapper
					.row.follower(ng-show='tabActive == "user-followed"')
						.col-md-12(ng-show=' !follower.items || follower.items.length <= 0')
							h1 Người theo dõi
							p Bạn không có người theo dõi nào
						.col-md-12(ng-show=' follower.items && follower.items.length > 0')
							.row
								.col-md-12
									h1 Người theo dõi ({{follower.total_item}})
								.col-md-2(ng-repeat='followerItem in follower.items')
									.follower-item
										//img.img-responsive(src='{{followerItem.banners.banner}}')
										img.img-responsive(src='{{followerItem.User.avatar || "http://via.placeholder.com/100x100"}}')
										.name.text-center {{followerItem.title}}

								.col-md-12
									ul.table-records-pages(uib-pagination
									total-items='follower.total_item',
									ng-model='follower.page',
									items-per-page='follower.limit'
									ng-change="tabFollowerPageChange()"
									max-size="7"
									boundary-links="true"
									rotate="false"
									first-text='«'
									last-text = '»'
									next-text ='›'
									previous-text= '‹'
									)

					.row.following(ng-show='tabActive == "following"')
						.col-md-12(ng-if=' !following.items || following.items.length <= 0')
							h1 Đang theo dõi
							p Bạn chưa theo dõi ai
						.col-md-12(ng-show=' following.items && following.items.length > 0')
							.row
								.col-md-12
									h1 Đang theo dõi ({{following.total_item}})
								.col-md-2(ng-repeat='followingItem in following.items')
									.following-item
										img.img-responsive(src='{{followingItem.User.avatar || followingItem.Following.User.avatar || "http://via.placeholder.com/100x100"}}')
										.name.text-center {{followingItem.title || followingItem.Following.title}}
										i.fa.fa-minus.cancel-following(ng-if='followingItem.isFollow == true'
										ng-click='cancelFollowing(followingItem, $index)')
							.row
								.col-md-12
									ul.table-records-pages(uib-pagination
									total-items='following.total_item',
									ng-model='following.page',
									items-per-page='following.limit'
									ng-change="tabFollowingPageChange()"
									max-size="7"
									boundary-links="true"
									rotate="false"
									first-text='«'
									last-text = '»'
									next-text ='›'
									previous-text= '‹'
									)


					include _video_saved


					.row.user-information(ng-show='tabActive == "user-information"')
						.col-md-12
							.image
								img(src='{{user.avatar || "http://via.placeholder.com/100x100" }}')
								button.change-avatar(type="file" ngf-select="uploadNewAvatar($file, $invalidFiles)"
								accept="image/*"  ngf-max-size="10MB"
								ngf-max-height="1000", ngf-max-width="2000")
									i.fa.fa-pencil
							.info
								.group
									span.name {{user.name}}
									span.level Level {{user.levelId}}
								.content
									|Member since {{user.activeDate | date:'dd/MM/yyyy' }}
								.content
									|User id: {{user.shortId || user.id}}
						.col-md-12
							hr
						.col-md-12.user-update-info
							.row
								.col-md-4.col-md-offset-2
									span.title Tên người dùng *
									span.sub-title tối thiểu 6 kí tự
								.col-md-5
									//input.form-control(ng-if='user.fbId' type='text' value='{{user.name}}' readonly='readonly')
									input.form-control(type='text' value='{{user.name}}')
							.row
								.col-md-4.col-md-offset-2
									span.title Ngày sinh
								.col-md-5
									//datetimepicker(
									//ng-model="birthDate.dt"
									//date-format="dd-MMM-yyyy"
									//date-options="dateOptions"
									//hour-step="hourStep"
									//minute-step="minuteStep"
									//show-meridian="showMeridian"
									//readonly-date="false"
									//disabled-date="false"
									//hidden-time="false"
									//hidden-date="false"
									//show-spinners="true"
									//readonly-time="false"
									//show-button-bar="false"
									//)

									input.form-control(
									type="text"
									uib-datepicker-popup="yyyy-MM-dd"
									ng-model="birthDate.dt"
									is-open="birthDate.opened"
									min="birthDate.min"
									datepicker-options="dateOptions"
									date-disabled=""
									ng-required="true"
									)
									button.pull-right.btn.btn-primary( ng-click="openDate()"
									style='position: absolute; right: 15px; top: 0;')
										i.fa.fa-calendar
							.row
								.col-md-4.col-md-offset-2
									span.title Giới tính
								.col-md-5
									input.checkbox-sex(type='radio' name='sex' value='male' ng-model='user.gender')
									span.value-sex Nam
									input.checkbox-sex(type='radio' name='sex' value='female' ng-model='user.gender')
									span.value-sex Nữ
									input.checkbox-sex(type='radio' name='sex' value='other' ng-model='user.gender')
									span.value-sex Khác
							.row
								.col-md-4.col-md-offset-2
									span.title Mật khẩu hiện tại
								.col-md-5
									input.form-control(type='password' ng-model='changePass.old' ng-readonly='loginBy=="facebook"')
							.row
								.col-md-4.col-md-offset-2
									span.title Mật khẩu mới
								.col-md-5
									input.form-control(type='password' ng-model='changePass.new' ng-readonly='loginBy=="facebook"')
							.row
								.col-md-4.col-md-offset-2
									span.title Xác nhận mật khẩu
								.col-md-5
									input.form-control(type='password' ng-model='changePass.renew' ng-readonly='loginBy=="facebook"')
							.row
								.col-md-5.col-md-offset-6
									button.btn.btn-success.pull-right(ng-click='updateProfile()') LƯU THAY ĐỔI
